<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>My Resume</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cv/mystyle.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <h1>Taquin Solver</h1>
    <div class="wrapper">
        <div class="taquin">
            <input type=text placeholder="Enter notes here?" class="title" id="title-input" />
            <form id="taquin-initial" action="taquin/voteq/" method="post" class="form-taquin">{% csrf_token %}
                <input type="text" class="one" id="input-one" name="init-one" v-on:blur="changeTextSize" @focus="$event.target.select()">
                <input type="text" class="two" name="init-two" v-on:blur="changeTextSize" v-on:mouseover="changeColor">
                <input type="text" class="three" name="init-three" v-on:blur="changeTextSize">
                <input type="text" class="four" name="init-four" v-on:blur="changeTextSize">
                <input type="text" class="five" name="init-five" v-on:blur="changeTextSize">
                <input type="text" class="six" name="init-six" v-on:blur="changeTextSize">
                <input type="text" class="seven" name="init-seven" v-on:blur="changeTextSize">
                <input type="text" class="eight" name="init-eight" v-on:blur="changeTextSize">
                <input type="text" class="nine" name="init-nine" v-on:blur="changeTextSize">
            </form>
        </div>


        <!-- <form id="taquin-initial" action="taquin/voteq/" method="post">
            
            <div class="taquin-input">
                <div class="one" id="un"><button v-on:click="reverseMessage">Reverse Message</button><p>[[ message ]]</p></div>            
                <input type="text" name="name" id="name">
                <input type="text" name="trois" id="trois" class=trois>
                <div class="four">Quatre</div>
                <div class="five">Cinq</div>
                <div class="six">Six</div>
                <div class="sept">Sept</div>
                <div class="huit">Huit</div>
                <div class="neuf">Neuf</div>
            </div>

        </form> -->
        <!-- <div class="taquin-input">
            <input v-model="title-input" placeholder="Enter notes here?" class="title" id="title-input" v-on:mouseover="changeCursor" onkeydown="changeInput(this)"/>
            <div class="one" id="input-un"><button v-on:click="reverseMessage">Reverse Message</button><p>[[ message ]]</p></div>
            <div class="two">Deux</div>
            <div class="three">Trois</div>
            <div class="four">Quatre</div>
            <div class="five">Cinq</div>
            <div class="six">Six</div>
            <div class="sept">Sept</div>
            <div class="huit">Huit</div>
            <div class="neuf">Neuf</div>
        </div>
        <div class="taquin-output">
            <div class="one">Un</div>
            <div class="two">Deux</div>
            <div class="three">Trois</div>
            <div class="four">Quatre</div>
            <div class="five">Cinq</div>
            <div class="six">Six</div>
            <div class="sept">Sept</div>
            <div class="huit">Huit</div>
            <div class="neuf">Neuf</div>
        </div> -->
    </div>
</body>
<script src="{% static 'cv/myvue.js' %}"></script>
</html>
